
body {
    margin: 0;
}

h1 {
    cursor: default;
}

h2 {
    cursor: default;
}

h3 {
    cursor: default;
}

p {
    cursor: default;
}

.header-image {
    width: 100%;
    height: 100%;
    position: absolute;
}

.header-container {
    position: relative;
    width: 100%;
    height: 665px;
    top: 0px;
    bottom: 0px;
    padding: 0px;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #000a1a;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*Test Title*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color: #1d1d30;
    #131320;
    #3b3b3b;
    #808080;
    #999999;
    #111;
}

.title {
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 1px;
}

h1 {
    position: absolute;
    background-image: url(https://media.giphy.com/media/ijnngpKTfvStxIgLTr/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    line-height: .75;
    margin: 10px 0;
}






/* Home Nav Button */
.home-button {
    position: absolute;
    top: 24px;
    left: 36px;
}

.home-text {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

    .home-text:hover:not(.active) {
        color: #4db8ff;
    }

/* History Nav Button */
.page1-button {
    position: absolute;
    top: 24px;
    left: 104px;
}

.page1-text {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

    .page1-text:hover:not(.active) {
        color: #4db8ff;
    }

/* Identities Nav Button */
.page2-button {
    position: absolute;
    top: 24px;
    left: 180px;
}

.page2-text {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

    .page2-text:hover:not(.active) {
        color: #4db8ff;
    }

/* Resources Nav Button */
.page3-button {
    position: absolute;
    top: 24px;
    left: 272px;
}

.page3-text {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

    .page3-text:hover:not(.active) {
        color: #4db8ff;
    }


/* Sources Nav Button */
.page4-button {
    position: absolute;
    top: 24px;
    right: 36px;
}

.page4-text {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

    .page4-text:hover:not(.active) {
        color: #4db8ff;
    }


/* Arrow Down Icon */
.arrow-icon {
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -99%);
}

.fa-chevron-down {
    font-size: 36px;
    color: white;
}

    .fa-chevron-down:hover:not(.active) {
        color: #4db8ff;
    }

.intro-block {
    width: 100%;
    height: 700px;
    background-color: #0d0d0d;
    position: relative;
}

.intro-text {
    position: absolute;
    color: #f2f2f2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    text-align: justify;
    text-justify: inter-word;
    margin: 0px;
}

.word:hover:not(.active) {
    opacity: 0;
}

.intro-text-rainbow {
    position: absolute;
    color: pink;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    text-align: justify;
    text-justify: inter-word;
    width: 1000px;
    line-height: 1.5;
    letter-spacing: 0.03px;
    margin: 0px;
    background-image: linear-gradient(to left, #c28bf0, #716be8, #a0bcfa, #8ceda1, #eaf095, #ebc278, #e8826b);
    -webkit-background-clip: text;
    color: transparent;
}

.history-block {
    width: 100%;
    height: 700px;
    background-color: #aae3d3;
    position: relative;
}

.history-heading {
    position: absolute;
    font-size: 108px;
    left: 15%;
    top: 128px;
    color: #27273f;
    text-transform: uppercase;
    border-bottom-style: solid;
    border-right-style: hidden;
    border-left-style: hidden;
    border-top-style: hidden;
    border-width: 5px;
    color: #27273f;
}

.h-button {
    background-color: #27273f;
    color: white;
    font-size: 24px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 380px;
    margin-left: 315px;
    border: 2px solid #27273f;
}

#flag-bois {
    position: absolute;
    margin-top: 100px;
    margin-left: 350px;
    border: 3px solid #27273f;
}

    .h-button:hover:not(.active) {
        background-image: linear-gradient(to left, #c28bf0, #716be8, #a0bcfa, #8ceda1, #eaf095, #ebc278, #e8826b);
        background-color: #a0bcfa;
        color: black;
        border: 2px solid black;
    }

.identity-block {
    width: 100%;
    height: 700px;
    background-color: #27273f;
    position: relative;
    color: black;
}

.identities-heading {
    position: absolute;
    font-size: 108px;
    right: 15%;
    top: 128px;
    color: #aae3d3;
    text-transform: uppercase;
    border-bottom-style: solid;
    border-right-style: hidden;
    border-left-style: hidden;
    border-top-style: hidden;
    border-width: 5px;
}

.i-button {
    background-color: #aae3d3;
    color: #27273f;
    font-size: 24px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 380px;
    margin-left: 790px;
    border: 2px solid #aae3d3;
}

#single-flag-boi {
    position: absolute;
    margin-top: 100px;
    margin-left: -800px;
    border: 3px solid #aae3d3;
}

    .i-button:hover:not(.active) {
        background-image: linear-gradient(to left, #a6f0ff, #ffa6ff, #ffffff, #ffa6ff, #a6f0ff);
        background-color: #a0bcfa;
        color: black;
        border: 2px solid black;
    }


/* HISTORY PAGE */

.h-container {
    position: relative;
    width: 100%;
    height: 125px;
    top: 0px;
    bottom: 0px;
    padding: 0px;
}

.h-text {
    text-align: center;
    color: #f3dbff;
    font-size: 28px;
    padding: 15px 0px 0px 0px;
    width: 100%;
    position: relative;
}

hr {
    background-image: repeating-linear-gradient(to left #c28bf0, #716be8, #a0bcfa, #8ceda1, #eaf095, #ebc278, #e8826b, #c28bf0);
    -webkit-background-clip: padding-box;
    color: transparent;
    border: none;
    animation-name: color-cycle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    position: relative;
}

@keyframes rainbow-animation {
    0% {
        background-image: repeating-linear-gradient(to left, #c28bf0, #716be8, #a0bcfa, #8ceda1, #eaf095, #ebc278, #e8826b);
        -webkit-background-clip: padding-box;
        color: transparent;
    }

    16.6% {
        background-image: repeating-linear-gradient(to left, #716be8, #a0bcfa, #8ceda1, #eaf095, #ebc278, #e8826b, #c28bf0);
        -webkit-background-clip: padding-box;
        color: transparent;
    }

    33.3% {
        background-image: repeating-linear-gradient(to left, #a0bcfa, #8ceda1, #eaf095, #ebc278, #e8826b, #c28bf0, #716be8);
        -webkit-background-clip: padding-box;
        color: transparent;
    }

    50% {
        background-image: repeating-linear-gradient(to left, #8ceda1, #eaf095, #ebc278, #e8826b, #c28bf0, #c28bf0, #716be8, #a0bcfa);
        -webkit-background-clip: padding-box;
        color: transparent;
    }

    66.6% {
        background-image: repeating-linear-gradient(to left, #eaf095, #ebc278, #e8826b, #c28bf0, #c28bf0, #716be8, #a0bcfa, #8ceda1);
        -webkit-background-clip: padding-box;
        color: transparent;
    }

    83.3% {
        background-image: repeating-linear-gradient(to left, #ebc278, #e8826b, #c28bf0, #c28bf0, #716be8, #a0bcfa, #8ceda1, #eaf095);
        -webkit-background-clip: padding-box;
        color: transparent;
    }

    100% {
        background-image: repeating-linear-gradient(to left, #e8826b, #c28bf0, #716be8, #a0bcfa, #8ceda1, #eaf095, #ebc278);
        -webkit-background-clip: padding-box;
        color: transparent;
    }
}

@keyframes color-cycle {
    0% {
        background-color: red;
        #c28bf0;
        ;
    }

    16.6% {
        background-color: orange;
        #716be8;
    }

    33.3% {
        background-color: yellow;
        #a0bcfa;
    }

    50% {
        background-color: green;
        #8ceda1;
    }

    66.6% {
        background-color: blue;
        #eaf095;
    }

    83.3% {
        background-color: blueviolet;
        #ebc278;
    }

    100% {
        background-color: purple;
        #e8826b;
    }
}

/* Home Nav Button */
.h-home-button {
    position: absolute;
    top: 84px;
    left: 156px;
}

.h-home-text {
    color: #f3dbff;
    font-size: 18px;
    text-decoration: none;
}

    .h-home-text:hover:not(.active) {
        color: #4db8ff;
    }

/* History Nav Button */
.h-page1-button {
    position: absolute;
    top: 84px;
    left: 230px;
}

.h-page1-text {
    color: #f3dbff;
    font-size: 18px;
    text-decoration: none;
}

    .h-page1-text:hover:not(.active) {
        color: #4db8ff;
    }

/* Identities Nav Button */
.h-page2-button {
    position: absolute;
    top: 84px;
    left: 311px;
}

.h-page2-text {
    color: #f3dbff;
    font-size: 18px;
    text-decoration: none;
}

    .h-page2-text:hover:not(.active) {
        color: #4db8ff;
    }

/* Resources Nav Button */
.h-page3-button {
    position: absolute;
    top: 84px;
    left: 405px;
}

.h-page3-text {
    color: #f3dbff;
    font-size: 18px;
    text-decoration: none;
}

    .h-page3-text:hover:not(.active) {
        color: #4db8ff;
    }


/* Sources Nav Button */
.h-page4-button {
    position: absolute;
    top: 84px;
    right: 156px;
}

.h-page4-text {
    color: #f3dbff;
    font-size: 18px;
    text-decoration: none;
}

    .h-page4-text:hover:not(.active) {
        color: #4db8ff;
    }

.descrip-left {
    width: 40%;
    position: absolute;
    font-size: 22px;
    top: 125px;
    left: 100px;
    text-align: justify;
}

.descrip-right {
    width: 40%;
    position: absolute;
    font-size: 22px;
    top: 125px;
    right: 100px;
    text-align: justify;
}

.person1 {
    width: 100%;
    height: 700px;
    background-color: #f5f5f0;
    position: relative;
}

.person2 {
    width: 100%;
    height: 700px;
    background-color: #14141f;
    position: relative;
    color: #efeff5;
}

.name-left {
    position: absolute;
    font-size: 36px;
    top: 40px;
    left: 100px;
}

.name-right {
    position: absolute;
    font-size: 36px;
    top: 40px;
    right: 100px;
    color: #efeff5;
}

.time1 {
    position: absolute;
    font-size: 24px;
    top: 55px;
    left: 475px;
    color: #30304f;
}

.time2 {
    position: absolute;
    font-size: 24px;
    top: 55px;
    right: 380px;
    color: #d0d0e2;
}

.time3 {
    position: absolute;
    font-size: 24px;
    top: 55px;
    left: 350px;
    color: #30304f;
}

.time4 {
    position: absolute;
    font-size: 24px;
    top: 55px;
    right: 400px;
    color: #d0d0e2;
}

.time5 {
    position: absolute;
    font-size: 24px;
    top: 55px;
    left: 495px;
    color: #30304f;
}

.time6 {
    position: absolute;
    font-size: 24px;
    top: 55px;
    right: 360px;
    color: #d0d0e2;
}

.time7 {
    position: absolute;
    font-size: 24px;
    top: 55px;
    left: 400px;
    color: #30304f;
}

.time8 {
    position: absolute;
    font-size: 24px;
    top: 55px;
    right: 365px;
    color: #d0d0e2;
}

.time9 {
    position: absolute;
    font-size: 24px;
    top: 55px;
    left: 460px;
    color: #30304f;
}

.time10 {
    position: absolute;
    font-size: 24px;
    top: 55px;
    right: 725px;
    color: #d0d0e2;
}

.time11 {
    position: absolute;
    font-size: 24px;
    top: 55px;
    left: 410px;
    color: #30304f;
}

.time12 {
    position: absolute;
    font-size: 24px;
    top: 55px;
    right: 425px;
    color: #d0d0e2;
}

/* People Pictures */
.Marsha {
    position: absolute;
    width: 400px;
    left: 800px;
    top: 150px;
}

.Sylvia {
    position: absolute;
    width: 400px;
    right: 850px;
    top: 150px;
}

.Alan {
    position: absolute;
    width: 400px;
    left: 800px;
    top: 80px;
}

.Bayard {
    position: absolute;
    width: 400px;
    right: 850px;
    top: 95px;
}

.Storme {
    position: absolute;
    width: 400px;
    left: 800px;
    top: 150px;
}

.Harvey {
    position: absolute;
    width: 400px;
    right: 850px;
    top: 150px;
}

.Edith {
    position: absolute;
    width: 400px;
    left: 800px;
    top: 150px;
}

.Laverne {
    position: absolute;
    width: 500px;
    left: 100px;
    right: 850px;
    top: 150px;
}

.Alexya {
    position: absolute;
    width: 400px;
    left: 800px;
    top: 50px;
}

.Elisa {
    position: absolute;
    height: 500px;
    width: 350px;
    right: 850px;
    top: 135px;
}

.Virginia {
    position: absolute;
    width: 400px;
    left: 800px;
    top: 150px;
}

.Chevalier {
    position: absolute;
    width: 400px;
    right: 850px;
    top: 125px;
}

/*Identities page wow*/

.AHH {
    width: 100%;
    height: 700px;
    background-color: #ff9191;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    max-height: 100%;
}

.column {
    flex: 10%;
    max-width: 50%;
    padding: 6px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }

#lesbian, #nonbinary, #gay, #intersex, #bi, #ace, #trans, #aro, #queer, #pan {
    margin-bottom: 60px;
}

    #lesbian:hover, #nonbinary:hover, #gay:hover, #intersex:hover, #bi:hover, #ace:hover, #trans:hover, #aro:hover, #queer:hover, #pan:hover {
        opacity: 0.7;
    }

.i-container {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 8px;
    height: 88%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255,255,255,0.5);
    transparent;
}

.i-container:hover .overlay {
    opacity: 1;
}

.text {
    position: absolute;
    color: black;
    font-size: 24px;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    width: 80%;
}

/*Resources page yeet*/

.r-container {
    position: relative;
    width: 100%;
    height: 150px;
    top: 0px;
    bottom: 0px;
    padding: 0px;
}

.resources-text-rainbow {
    position: absolute;
    color: pink;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    text-align: center;
    text-justify: inter-word;
    width: 1000px;
    line-height: 1.5;
    letter-spacing: 0.03px;
    margin: 0px;
    background-image: linear-gradient(to left, #a6f0ff, #ffa6ff, #ffffff, #ffa6ff, #a6f0ff);
    -webkit-background-clip: text;
    color: transparent;
}

.resources-titles {
    position: absolute;
    color: pink;
    top: 95px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    text-align: center;
    text-justify: inter-word;
    width: 1000px;
    line-height: 1.5;
    letter-spacing: 0.03px;
    margin: 0px;
    background-image: linear-gradient(to left, #ffbddf, #ecbdff, #bdebff);
    -webkit-background-clip: text;
    color: transparent;
}

.resources-sites {
    width: 80%;
    position: absolute;
    font-size: 26px;
    top: 125px;
    left: 123px;
    text-align: center;
    color: azure;
    line-height: 1.5;
}

.resource1 {
    width: 100%;
    height: 250px;
    position: relative;
}

.resource2 {
    width: 100%;
    height: 250px;
    position: relative;
}

.resource3 {
    width: 100%;
    height: 250px;
    position: relative;
}

.resource4 {
    width: 100%;
    height: 250px;
    position: relative;
}

.resource5 {
    width: 100%;
    height: 250px;
    position: relative;
}




/*Sources Page*/

.source1 {
    width: 100%;
    height: 250px;
    position: relative;
}

.source2 {
    width: 100%;
    height: 200px;
    position: relative;
}

.source3 {
    width: 100%;
    height: 200px;
    position: relative;
}

.source4 {
    width: 100%;
    height: 200px;
    position: relative;
}

.source5 {
    width: 100%;
    height: 250px;
    position: relative;
}

.source6 {
    width: 100%;
    height: 200px;
    position: relative;
}

.source7 {
    width: 100%;
    height: 200px;
    position: relative;
}

.source8 {
    width: 100%;
    height: 200px;
    position: relative;
}

.source9 {
    width: 100%;
    height: 250px;
    position: relative;
}

.source10 {
    width: 100%;
    height: 200px;
    position: relative;
}

.source11 {
    width: 100%;
    height: 250px;
    position: relative;
}

.source12 {
    width: 100%;
    height: 250px;
    position: relative;
}

.source13 {
    width: 100%;
    height: 500px;
    position: relative;
}

.name {
    position: absolute;
    color: pink;
    top: 95px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    text-align: justify;
    text-justify: inter-word;
    width: 1000px;
    line-height: 1.5;
    letter-spacing: 0.03px;
    margin: 0px;
    background-image: linear-gradient(to left, #c28bf0, #716be8, #a0bcfa, #8ceda1, #eaf095, #ebc278, #e8826b);
    -webkit-background-clip: text;
    color: transparent;
}

.namee {
    position: absolute;
    color: pink;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    text-align: justify;
    text-justify: inter-word;
    width: 1000px;
    line-height: 1.5;
    letter-spacing: 0.03px;
    margin: 0px;
    background-image: linear-gradient(to left, #c28bf0, #716be8, #a0bcfa, #8ceda1, #eaf095, #ebc278, #e8826b);
    -webkit-background-clip: text;
    color: transparent;
}

.mla {
    width: 80%;
    position: absolute;
    font-size: 16px;
    top: 125px;
    left: 100px;
    text-align: justify;
    color: azure;
    line-height: 1.5;
}

.mlaa {
    width: 80%;
    position: absolute;
    font-size: 16px;
    top: 125px;
    left: 100px;
    text-align: justify;
    color: azure;
    line-height: 1.5;
}
